* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

#wrapper {
    width: 801px;
    margin: 100px auto;
    border: 3px solid orange;
}

h1 {
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

table, th, td {
    border: 2px solid rgb(77, 77, 201)
}

th, td {
    padding: 5px;
}

#actions {
    text-align: center;
}

.actions {
    padding: 5px;
}